* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none !important;
}
body {
  left: 0;
  top: 0;
  right: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: scroll !important;
}
.navbar-light,.header{
    width: 100% !important;
    background-color: #cd1818;
    padding: 0 0 0 0 !important;
    z-index: 1000;
}
.navbar-collapse{
    display: grid;
    grid-template-columns: 50% 50% ;
}
.navbar-light img{
    max-width: 70%;
    float: right !important;
}
.navbar-light{
    
}
.navbar-nav{
    width: 100% !important;
    padding:  0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    display: grid !important;
    grid-template-columns: 25% 25% 25% 25% !important;
    margin-left: 2em !important;
}
.d-flex{
    float: right !important;
    margin-left: 2em;
}
.navbar-nav li{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    opacity: 0.9;
}

.navbar-nav li a {
    /* margin-left: 2em;
    margin-right: 2em; */
    color: aliceblue !important;
    padding: 0 0 0 0 !important;
}
.nav-link i{
    font-size: 1.5vw !important;
    color: aliceblue !important;
}
.h-text {
    font-size: 0.9vw;
    font-weight: 500;
}
.btn-outline-success{
    font-size: 1.4em !important;
    background-color: black !important;
    border: none !important;
    color: white !important;
    opacity: 0.9;
}

/* css-content */
.h-bottom{
    background-color: #181818;
    display: flex;
    justify-content:center;
    z-index: 1000;
}
.h-bottom ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #181818;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 0.5em !important;
    margin-top: 0.5em !important;

}



@keyframes listanimation{
    to{
        box-shadow: 0 4px 8px 0 #00FFFF,0 6px 20px 0 rgb(0,0,0,0.19);
    }

    from{
        box-shadow: 0 4px 8px 0 #1f9797,0 6px 20px 0 rgb(0,0,0,0.19);
    }
}
.h-bottom li{
    margin: 0em 2em 0em 2em;
    color: #fff;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.5s;
    text-transform: uppercase;
    font-weight: 600;
}

.h-bottom ul li:after{
    display: block;
}

.h-bottom ul li:hover{
    color: #e004a2;
}
.h-bottom l li:hover:after{
    transform:scaleX(1);
}