body {
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #212529;
    text-align: left;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}
/* Path: src\main\resources\static\css\header.css */
.navbar-expand-lg{
    background-color: #cd1817 !important;
    height: 57px !important;
}
.navbar{
    background-color: #cd1817 !important;
}
.navbar-brand{
    float: right;
    margin-left: 120px;
    height: 57px !important;
}
.navbar-brand img{
    width: 100%;
    height: 100%;
}
.navbar-collapse{
    height: 57px !important;
    margin-left: 4rem!important;
}

.f-search{
    width: 37%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.f-search input{
    border-radius: 2px;
}
.f-search button{
    width: 50px;
    height: 38px;
    display: inline-block;
    top: 0;
    left: 0;
    border: none;
    background: #333!important;
    color: #fff;
    border-radius: 0 2px 2px 0;
    font-size: 20px;
}

.navbar-nav{
    width: 100%;
}
.navbar-nav li{
    float: left;
    margin: 1rem 1rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-link{
    padding: 0!important;
    color: rgb(255, 255, 255) !important;
}
.nav-item i{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}
/* header-bottom */
.h-bottom{
    background-color: #252525;
    overflow: hidden;
    height: auto;
    padding: 0.5em 0;
}
.h-bottom .row{
    height: 100%;
    margin-left: 10rem;
    margin-right: 10rem;
}
.h-bottom .row .col{
    height: 100%;
    padding: 0 0;
    color: #fafafa;
    float: left;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.h-bottom .row .col:hover{
    color: #f341d5;
}