<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/header.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../img/iconFPT.png" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex col-5">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Nhập tên điện thoại, máy tính, phụ kiện... cần tìm"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>

            <ul class="navbar-nav">
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text">Thông tin hay</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-file-text" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text" href="#">Thanh toán & dịch vụ</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-user-circle-o" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text" href="#">Tài khoản của tôi</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-shopping-cart" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text" href="#">Giỏ hàng</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid h-bottom">
      <ul>
        <li><i class="fa fa-mobile" aria-hidden="true"></i>&ensp;ĐIỆN THOẠI</li>
        <li><i class="fa fa-table" aria-hidden="true"></i>&ensp;TABLET</li>
        <li><i class="fa fa-headphones" aria-hidden="true"></i>&ensp;PHỤ KIỆN</li>
        <li><i class="fa fa-repeat" aria-hidden="true"></i>&ensp;MÁY CỦ GIÁ RẺ</li>
        <li><i class="fa fa-id-card" aria-hidden="true"></i>&ensp;SIM & THẺ</li>
        <li><i class="fa fa-gift" aria-hidden="true"></i>&ensp;KHUYẾN MÃI</li>
      </ul>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
